.container{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.478);
}

.Navbar{
    width: 100%;
}

.GlobalCartTrue{
    width: 100%;
    display: flex;
    justify-content: center;
}

.GlobalCartFalse{
    display: none;
}

.Footer{
    width: 100%;
}